/** {
    margin: 20px;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}*/

div {
    border: 5px dashed red;
    margin: 20px;
    padding: 20px;

}

.rectangulo, .circulo {
    width: 100px;
    height: 100px;
    background: cyan;
    border: 2px solid blue;
    border-radius: 10px;
